<!DOCTYPE html>
<html>
<head>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-toolbar app>
        <v-toolbar-title>Dashboard</v-toolbar-title>
      </v-toolbar>
      <v-navigation-drawer app>
        <v-list dense class="pt-0">
          <v-list-tile v-for="item in items" :key="item.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-content>
          <v-container class="charts">
            <div class="social fab fa-facebook"></div>
            <div class="social far fa-hand-peace"></div>
            <div class="social fab fa-google"></div>
            <div class="social fab fa-amazon"></div>
            <div class="tam">TAM (Total Available Market)
              <div class="tam-figure">205,124</div>
            </div>
            <div class="plays">
              <label for="dropdown">Select a Play </label><br>
              <select name="dropdown">
                <option>Showing All Plays</option>
                <option>Impressions</option>
                <option>Reach</option>
                <option>Engagement</option>
                <option>Traffic</option>
                <option>Leads</option>
              </select>
            </div>
            <canvas id="myChart" width="400" height="400"></canvas>
          </v-container>
          <v-container class="leads">
            <div class="lead-head">Latest Leads</div>
            <div class="search-wrapper">
              <input class="search" type="text" name="search" v-model="search" placeholder="Search leads...">
              <i class="fas fa-search"></i>
            </div>
            <br><br>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">play_circle_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">play_circle_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">mail_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="fab fa-facebook-messenger"></i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="all-leads" type="button">See all leads</div>
            <div class="lead-nav"><i class="fas fa-chevron-down"></i><i class="fas fa-chevron-up"></i></div>
          </v-container>
      </v-content>
    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script>
  var canvas = document.getElementById("myChart");
  var ctx = canvas.getContext('2d');

  // Data with datasets options
  var data = {
      labels: ["Vanilla", "Chocolate", "Strawberry"],
        datasets: [
          {
              label: "Ice Cream Sales ",
              fill: true,
              backgroundColor: [
                  'moccasin',
                  'saddlebrown',
                  'lightpink'],
              data: [11, 9, 4]
          }
      ]
  };

  // Notice how nested the beginAtZero is
  var options = {
          title: {
                    display: true,
                    text: 'Ice Cream Truck Report',
                    position: 'bottom'
                },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
  };

  // Chart declaration:
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
  });

  new Vue({
    el: '#app',
    data () {
      return {
        items: [
          { title: 'Dashboard', icon: 'dashboard' },
          { title: 'Plays', icon: 'question_answer' },
          { title: 'Leads', icon: 'dashboard' },
          { title: 'Inventory', icon: 'question_answer' }
        ],
        right: null
      }
    }
  })
  </script>
</body>
</html>
