<!DOCTYPE html>
<html>
<head>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-toolbar app>
        <v-toolbar-title>Dashboard</v-toolbar-title>
      </v-toolbar>
      <v-navigation-drawer app>
        <v-list dense class="pt-0">
          <v-list-tile v-for="item in items" :key="item.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-content>
          <v-container class="charts">
            <div class="social fab fa-facebook"></div>
            <div class="social far fa-hand-peace"></div>
            <div class="social fab fa-google"></div>
            <div class="social fab fa-amazon"></div>
            <div class="tam">TAM (Total Available Market)
              <div class="tam-figure">205,124</div>
            </div>
            <div class="plays">
              <label for="dropdown">Select a Play </label><br>
              <select name="dropdown">
                <option>Showing All Plays</option>
                <option>Impressions</option>
                <option>Reach</option>
                <option>Engagement</option>
                <option>Traffic</option>
                <option>Leads</option>
              </select>
            </div>
            <div class="chartjs-wrapper">
              <div class="current">Current</div><div class="goal">Goal</div><br><br>
              <div class="label chart-label-blue">Impressions</div>
              <canvas class="chartjs-stacked-bar-impress"></canvas>
              <div class="label chart-label-blue">Reach</div>
              <canvas class="chartjs-stacked-bar-reach"></canvas>
              <div class="label chart-label-green">Engagement</div>
              <canvas class="chartjs-stacked-bar-engage"></canvas>
              <div class="label chart-label-green">Traffic</div>
              <canvas class="chartjs-stacked-bar-traffic"></canvas>
              <div class="label chart-label-orange">Leads</div>
              <canvas class="chartjs-stacked-bar-leads"></canvas>
              <div class="label chart-label-orange">Units Sold</div>
              <canvas class="chartjs-doughnut"></canvas>
            </div>
          </v-container>
          <v-container class="leads">
            <div class="lead-head">Latest Leads</div>
            <div class="search-wrapper">
              <input class="search" type="text" name="search" v-model="search" placeholder="Search leads...">
              <i class="fas fa-search"></i>
            </div>
            <br><br>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">play_circle_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">play_circle_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="material-icons">mail_outline</i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="latest">
              <div class="latest-icon"><i class="fab fa-facebook-messenger"></i><br>Facebook</div>
              <div class="car">2015 Honda Civic<br>#546829307<br>12 days<br></div>
              <div class="time-stamp">05/18/18  3:42 am</div>
              <div class="phone">888-888-8888</div>
            </div>
            <hr>
            <div class="all-leads" type="button">See all leads</div>
            <div class="lead-nav"><i class="fas fa-chevron-down"></i><i class="fas fa-chevron-up"></i></div>
          </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <script>
  new Vue({
    el: '#app',
    data () {
      return {
        items: [
          { title: 'Dashboard', icon: 'dashboard' },
          { title: 'Plays', icon: 'question_answer' },
          { title: 'Leads', icon: 'dashboard' },
          { title: 'Inventory', icon: 'question_answer' }
        ],
        right: null
      }
    }
  })

  var chart = new Chart(
      document.getElementsByClassName('chartjs-stacked-bar-impress'),
      {
      type: 'horizontalBar',
      data: {
          labels: ["Impressions"],
          datasets: [{
              data: [18234],
              label:"Current",
              backgroundColor: "rgba(72,172,255,1)",
          },{
              data: [40945],
              label: "Goal",
              backgroundColor: "rgba(176,227,255,1)",
          }]
      },
      options: {
          scales: {
              xAxes: [{
                display: false,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
              yAxes: [{
                display: false,
                categoryPercentage: 0.9,
                barPercentage: 0.3,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
          },
          legend: { display: false },
      }
  });

  var chart = new Chart(
      document.getElementsByClassName('chartjs-stacked-bar-reach'),
      {
      type: 'horizontalBar',
      data: {
          labels: ["Reach"],
          datasets: [{
              data: [3964],
              label:"Current",
              backgroundColor: "rgba(72,172,255,1)",
          },{
              data: [12695],
              label: "Goal",
              backgroundColor: "rgba(176,227,255,1)",
          }]
      },
      options: {
          scales: {
              xAxes: [{
                display: false,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
              yAxes: [{
                display: false,
                categoryPercentage: 0.9,
                barPercentage: 0.3,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
          },
          legend: { display: false },
      }
  });

  var chart = new Chart(
      document.getElementsByClassName('chartjs-stacked-bar-engage'),
      {
      type: 'horizontalBar',
      data: {
          labels: ["Engagement"],
          datasets: [{
              data: [1845],
              label:"Current",
              backgroundColor: "rgba(150,199,93,1)",
          },{
              data: [3598],
              label: "Goal",
              backgroundColor: "rgba(205,241,164,1)",
          }]
      },
      options: {
          scales: {
              xAxes: [{
                display: false,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
              yAxes: [{
                display: false,
                categoryPercentage: 0.9,
                barPercentage: 0.3,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
          },
          legend: { display: false },
      }
  });

  var chart = new Chart(
      document.getElementsByClassName('chartjs-stacked-bar-traffic'),
      {
      type: 'horizontalBar',
      data: {
          labels: ["Traffic"],
          datasets: [{
              data: [987],
              label:"Current",
              backgroundColor: "rgba(150,199,93,1)",
          },{
              data: [1200],
              label: "Goal",
              backgroundColor: "rgba(205,241,164,1)",
          }]
      },
      options: {
          scales: {
              xAxes: [{
                display: false,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
              yAxes: [{
                display: false,
                categoryPercentage: 0.9,
                barPercentage: 0.3,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
          },
          legend: { display: false },
      }
  });

  var chart = new Chart(
      document.getElementsByClassName('chartjs-stacked-bar-leads'),
      {
      type: 'horizontalBar',
      data: {
          labels: ["Leads"],
          datasets: [{
              data: [509],
              label:"Current",
              backgroundColor: "rgba(249,123,59,1)",
          },{
              data: [700],
              label: "Goal",
              backgroundColor: "rgba(251,182,142,1)",
          }]
      },
      options: {
          scales: {
              xAxes: [{
                display: false,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
              yAxes: [{
                display: false,
                categoryPercentage: 0.9,
                barPercentage: 0.3,
                  stacked: true,
                    gridLines: {
                      display: false,
                    }
              }],
          },
          legend: { display: false },
      }
  });

  var myDoughnutChart = new Chart(
    document.getElementsByClassName('chartjs-doughnut'),
    {
      type: 'doughnut',
      data: {
        datasets: [{
            data: [14, 6],
            backgroundColor: ["rgba(249,123,59,1)", "rgba(251,182,142,1)"],
        }],
      }
  });
  </script>
</body>
</html>
