select {
  -webkit-appearance: menulist !important;
  border: 1px solid #b7b7b7 !important;
  width: 100%;
  height: 45px;
  text-align-last: center;
  font-size: 18px !important;
}

hr {
  margin: 30px 0 30px 0;
}

.all-leads[type=button] {
    border: 0px;
    -webkit-appearance: none;
}

.v-toolbar {
  padding-left: 200px !important;
  box-shadow: none !important;
  background-color: #f9fafb;
}

.v-navigation-drawer {
  width: 200px !important;
  background-color: #3e4449 !important;
  color: #7d8d96 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.v-list {
  color: #50585e !important;
}

.v-list__tile__title {
  text-align: right !important;
  font-size: 14px !important;
}

.v-list__tile__action {
  min-width: 40px !important;
}

a.v-list__tile:hover {
  color: #7d8d96 !important;
}

i.v-icon.material-icons {
  font-size: 22px !important;
  color: #50585e !important;
}

i.v-icon.material-icons:hover {
  color: #7d8d96 !important;
}

.v-content {
  padding-left: 200px !important;
  overflow: auto;
}

.v-content__wrap {
  max-width: 95% !important;
}

.v-toolbar__title {
  padding-top: 20px;
  color: #7d8d96;
  font-weight: 400 !important;
}

.charts {
  width: 50% !important;
  height: 100%;
  float: left;
  border-right: 1px solid #cfcfd0;
}

.leads {
  width: 50% !important;
  float: left;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  color: #7d8d96;
}

.v-content__wrap {
    margin: 10px 0 0 25px;
    box-shadow: 0 0 20px #ccc;
    background: #fff;
}

.social {
  width: 15% !important;
  height: 50px;
  float: left;
  font-size: 22px;
  line-height: 36px !important;
  text-align: center;
  vertical-align: middle;
  color: #cfcfd0;
  background: #f0f2f4;
	padding: 5px 3px 2px 3px;
  margin: 0 7px 0 0 !important;
}

.social:hover {
  background: #fff;
  color: #4267b2;
}

.tam {
  text-align: center;
  color: #a1a1a1;
  font-size: 12px;
}

.tam-figure {
  font-size: 30px;
  line-height: 34px;
}

.plays {
  width: 100%;
  color: #b7b7b7;
  text-transform: uppercase;
  font-weight: 500;
  padding: 40px 0 0 0;
}

.search-wrapper {
  float: right;
  font-size: 16px;
  color: #d0d8dc;
  border-bottom: 2px solid #7d8d96;
}

input::placeholder {
  color: #d0d8dc;
}

.lead-head {
  float: left;
}

.material-icons {
  font-size: 50px!important;
  color: #b0e3ff;
}

.sb.material-icons {
  font-size: 20px!important;
  color: #7d8d96;
  padding-left: 10px;
  line-height: 12px;
}

.fa-envelope {
  font-size: 50px;
  color: #b0e3ff;
}

.fa-facebook-messenger {
  font-size: 50px;
  color: #b0e3ff;
}

.latest-icon {
  font-size: 12px;
  float: left;
  padding: 0 60px 0 0;
}

.time-stamp {
  font-size: 12px;
}

.phone {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0 5px 0;
}

.car {
  float: right;
  font-size: 16px;
  line-height: 22px;
}

.lead-nav {
  font-size: 26px;
}

.fa-chevron-down {
  padding-right: 10px;
}

.fa-chevron-up:hover {
  cursor: pointer;
}

.fa-chevron-down:hover {
  cursor: pointer;
}

.all-leads {
  float: right;
  font-size: 12px;
  text-decoration: underline;
}
